@import url("https://fonts.googleapis.com/css2?family=Andada+Pro:wght@600;800&family=Manrope:wght@400;500;600;700;800&family=Roboto+Slab:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Roboto Slab", "Serif";
}

.image-inverted {
  filter: invert(100%);
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  font-family: none;
  letter-spacing: 1px;
  text-decoration: none;
}

.muiOutlined-input-root.Mui-focused,
MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
